<div class="bg-primary">
    <div class="nav navbar-nav navbar-right ">
        <div>
            <div class="panel-heading text-right text-light" style="padding:0px;position:relative;top:15px;" #welcomeEl></div>
        </div>
        <div>
			<div class="btn-nav" style="padding-right:15px">
				&nbsp;<a class="btn btn-primary btn-small navbar-btn" (click)="login()"  #loginEl>{{loginTitle}}</a>
			</div>
		</div>
    </div>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">PoolCarz</span>
    </nav>

    <!-- <router-outlet></router-outlet> -->
    <app-login></app-login>
</div>